body{
  background-color:lightgray;
  font-size: 20px;
  text-align: center;
}
img{
  max-width: 300px;
  max-height:300px;
}

#flexContainer{
  display:flex;
  flex-wrap:wrap;
}
.flexChild{
  flex:25%;
  padding:40px;
}
